.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(var(--tt-radius-xxs));
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.dialog {
  background: aliceblue;
  border: var(--tt-radius-xxs) solid gray;
  border-radius: var(--tt-radius-md);
  max-width: 90vw;
  padding: var(--tt-radius-md);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  z-index: 1000;

  button {
    min-height: auto !important;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  h2 {
    margin: 0;
    padding-left: var(--tt-radius-md);
    font-weight: 700;
    font-size: 1.25rem;
  }
}
