.dropdown {
  position: relative;
  display: inline-block;
}

.menu {
  position: absolute;
  // top: 110%;
  right: 0;
  background: aliceblue;
  border: var(--tt-radius-xxs) solid gray;
  border-radius: var(--tt-radius-md);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: var(--tt-radius-xs);
  // width: 180px;
  z-index: 100;
  display: block;
  min-width: 8rem;

  button {
    width: 100%;
  }
}

.item {
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s ease;
}
