.title {
  display: flex;
  justify-content: space-between;
  //   align-items: center;

  p,
  h1,
  h4 {
    margin: 0;
  }

  h1 {
    padding: var(--tt-radius-md) 0;
    font-weight: 700;
  }

  button {
    border: none;
    background: none;
    border-radius: var(--tt-radius-md);
    padding: var(--tt-radius-md);
    min-height: 3rem;
  }

  button:hover {
    background-color: lightblue;
  }
}

.hr {
  border-top: var(--tt-radius-md) dotted tomato;
  opacity: 1;
}

.option {
  p {
    opacity: 0;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
    transition: max-width 0.3s, opacity 0.3s;
  }
}

.option:hover {
  p {
    opacity: 1;
    max-width: 8rem;
  }
}

.info {
  display: flex;
  align-items: center;
  gap: var(--tt-radius-md);

  div {
    display: flex;
    align-items: center;
  }
}

.icon {
  font-size: 25px;
}

@media screen and (max-width: 480px) {
  .title {
    display: block;
  }

  .info {
    display: block;

    div {
      justify-content: start;
    }
  }

  .icon {
    font-size: 20px;
  }
}
