.article-card {
  border-radius: var(--tt-radius-md);
  border: var(--tt-radius-xxs) solid gray;
  min-height: 11rem;
  overflow: hidden;
}

.article-title {
  border-bottom: var(--tt-radius-xxs) solid gray;
  padding: var(--tt-radius-xs);
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;

  h4,
  h2 {
    margin: 0;
  }

  h2 {
    padding-left: var(--tt-radius-md);
  }

  p {
    margin: 0;
    color: gray;
  }

  button,
  a {
    border: none;
    background: none;
    border-radius: var(--tt-radius-md);
    padding: var(--tt-radius-md);
    color: inherit !important;
    text-decoration: none !important;
  }

  button:hover,
  a:hover {
    background-color: var(--primary-color);
  }
}

.article-content {
  padding: var(--tt-radius-md);
}

.feed-list {
  display: flex;
  flex-direction: column;
  row-gap: var(--tt-radius-md);
}

.share-link {
  display: block;
  border: var(--tt-radius-xxs) solid gray;
  border-radius: var(--tt-radius-md);
  padding: var(--tt-radius-md);
  width: 100%;
  overflow: hidden;
}
