.card {
  border-radius: var(--tt-radius-md);
  padding: var(--tt-radius-md);
  background-color: aliceblue;

  h3 {
    font-weight: 700;
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;
    border-left: 0.5rem dotted tomato;
    padding-left: var(--tt-radius-md);
  }

  li {
    display: flex;
    gap: 1rem;
    margin-bottom: var(--tt-radius-md);

    svg {
      width: 24px;
      height: 24px;
      overflow: visible;
    }
  }

  hr {
    border-top: 0.25rem dotted lightblue;
    margin: var(--tt-radius-lg) 0;
    opacity: 0.5;
  }
}

.attention {
  border: var(--tt-radius-xxs) solid tomato;
  border-radius: var(--tt-radius-md);
  overflow: hidden;
  padding: var(--tt-radius-xs);

  h4 {
    margin: 0;
    line-height: normal;
  }

  strong {
    display: inline-block;
    border-radius: var(--tt-radius-md);
    background-color: tomato;
    color: white;
    padding: var(--tt-radius-xs);
    margin-right: 1rem;
  }
}
