@import "./styles/_variables.scss";
@import "./styles/_keyframe-animations.scss";

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DMSans.ttf") format("truetype");
}

@font-face {
  font-family: "Balencia Lattive";
  src: url("./assets/fonts/BalenciaLattive.otf") format("opentype");
}

body {
  overflow: auto;
  font-family: "DM Sans", sans-serif;
}

.navbar {
  padding: var(--tt-radius-md);
  overflow: auto;
  flex-wrap: nowrap;
  background-color: lightblue;

  a {
    border-radius: var(--tt-radius-md);
    padding: var(--tt-radius-md);
  }

  a:hover {
    background-color: aliceblue;
  }
}

.search-field {
  border: var(--tt-radius-xxs) solid gray;
  border-radius: var(--tt-radius-md);
  background: none;
  padding: 0 var(--tt-radius-md);
  height: 2.5rem;
  width: 25vw;
  background-color: aliceblue;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  border: none;
  background: none;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--tt-radius-md);
  line-height: normal;
}

.outlet {
  padding: var(--tt-radius-xl);
  min-height: 100vh;
}

.flex-rowed {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  row-gap: var(--tt-radius-xl);
  width: 100%;
}

.flex-line {
  display: flex;
  justify-content: center;
  column-gap: var(--tt-radius-sm);
}

.login-form {
  width: 60vw;
  padding: var(--tt-radius-md);
  margin: 10vh 20vw;
  background-color: aliceblue;
  border-radius: var(--tt-radius-md);
  overflow: hidden;

  * {
    width: 100%;
  }
}

.mid-icon {
  font-size: 20px;
  overflow: visible;
}

.alert-container {
  position: fixed;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 9999;
}

@media screen and (max-width: 480px) {
  .navbar {
    flex-wrap: wrap;
    justify-content: center;

    .flex-line {
      width: 100%;
      justify-content: space-between;
    }
  }

  .search-field {
    width: 100%;
  }

  .outlet {
    padding: var(--tt-radius-sm);
  }

  .login-form {
    width: 100%;
    margin: 10vh 0;
  }
}
